name: Release main to latest

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - svennergr/fix-main-release
    paths-ignore: # Don't run the workflow if only .github/** or docs/** files have been changed
      - '.github/**'
      - 'docs/**'

permissions:
  contents: 'read'
  id-token: 'write'

jobs:
  build-latest-version:
    runs-on: ubuntu-latest

    env:
      GRAFANA_API_KEY: ${{ secrets.GRAFANA_API_SIGNING_KEY }} # Requires a Grafana API key from Grafana.com.

    outputs:
      upload-folder: ${{ steps.metadata.outputs.upload-folder }}

    steps:
      - uses: actions/checkout@v4
      - name: bump package version
        run: npm version --no-git-tag-version patch && npm version --no-git-tag-version `npm version --json | jq -r '."grafana-lokiexplore-app"'`-`git rev-parse --short HEAD`
      - uses: grafana/plugin-actions/package-plugin@main
        id: 'package-plugin'
        with:
          policy_token: ${{ secrets.GRAFANA_ACCESS_POLICY_TOKEN }}

      - id: get-secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@main
        with:
          common_secrets: |
            GCP_UPLOAD_ARTIFACTS_KEY=grafana/integration-artifacts-uploader-service-account:'credentials.json'

      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: ${{ env.GCP_UPLOAD_ARTIFACTS_KEY }}

      - name: 'rename versioned archive to main-archive'
        run: mv ${{ steps.package-plugin.outputs.archive }} ${{ steps.package-plugin.outputs.plugin-id }}-main.zip

      - id: 'upload-to-gcs'
        name: 'Upload assets to latest'
        uses: 'google-github-actions/upload-cloud-storage@v1'
        with:
          path: ./
          destination: 'integration-artifacts/grafana-lokiexplore-app/'
          glob: '*.zip'
          parent: false